<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		
		<title>Blog后台</title>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
		<script type="text/javascript">
			function login(){
				
			}
		</script>
	</head>
	<body>
		<div class="contont">
			<div class="login">
				<div class="title">
					<p>Blog后台系统登录</p>
				</div>
				<div class="input">
					<input type="text" name="name" id="name" placeholder="用户" />
				</div>
				<div class="input">
					<input type="password" name="password" id="password" placeholder="密码" />
				</div>
				<div class="button" onclick="login()">
					<p>登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</p>
				</div>
	
			</div>
		</div>
	</body>
</html>
